
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Josefin Slab', serif;
    font-weight: 100;
    background-color: #FEF7F7;
    letter-spacing: 1px;
}
 p {
    font-size: 1.2em;
    font-weight: 400;
    color: #777777;
 }
.navbar {
    background-color: #1BCACD;
}

.navbar-header .navbar-brand {
    font-size: 2.1em;
    color: white;
}

.navbar-default .navbar-toggle {
    border-color: white;
    border-radius: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-nav {
    margin: 0;
}

.navbar-collapse {
    background-color: #c8f7f8;
    padding: 0;
}

.icon-bar {
    color: white;
}

.text-thick {
    font-weight: 700;
}

.text-thin {
    font-weight: 100;
}

.nav li {
    font-size: 1.4em;
    font-weight: 400;
    border-bottom: 0.01em solid #dddddd;
    padding: 5px;
}

h1.text-center {
    margin-top: 15px;
    padding-top: 25px;
    color: #777777;
}

.food-section {
    margin: 1.5% auto;
}

.add-padding {
    margin: 2px;
    padding: 1% 8%;
    border: 0.01em solid #e7e7e7;
    background-color: #ebfcfc;
}

h2.text-center {
    margin-bottom: 20px;
    color: #777777;
}

.nav li:hover, .nav li:focus, .btn.btn-info:hover {
    background-color: #dddddd;
}

.btn.btn-info:hover {
    -webkit-transition: color 200ms linear;
    -moz-transition: color 200ms linear;
    -o-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
    background-color: #1BCACD;
    color: white;
}

.btn.btn-info {
    border-style: none;
    background-color: #dddddd;
    color: #777777;
    border-radius: 0;
    margin: 20px auto;
    float: right;
}

.glyphicon {
    margin-right: 5px;
}

.clear-float {
    clear: right;
}
@media (min-width: 768px) {
    .navbar-collapse {
        background-color: #1BCACD;
        padding: 0;
    }
}